*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 1351px;
    height: 100vh;
    background-image: url("back_ground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#aplogo{
    width: 100px;
    clear: both;
    position: absolute;
    top: 120px;}

#leftkotuwa{
    width: 280px;
    height: 100vh;

    background-color: transparent;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#movieheading{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    clear: both;
    position: absolute;
    margin-top: -120px;

    background:white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#movie2{
    width: 220px;
    height: 30px;
    background-color: white;

    clear: both;
    position: absolute;
    border-radius: 14px;

    border: none;
    outline: none;       
    padding: 2px;

    font-family: "Public Sans", sans-serif;
    font-size: 17px;
    text-align: center;
}

#btnSearch{
    width: 100px;
    height: 40px;
    background-color: white;
    clear: both;
    position: absolute;
    margin-top: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;                /* start closed */
    height: 100vh;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);     
    overflow-x: hidden;
    transition: width 0.5s ease;  /* animate width */
    padding: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#movieImg{
    margin-top: 550px;
    width: 200px;
    margin-bottom: 35px;
}

.details {
    margin: 0 auto;
    width: 50%;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 18px;
}

.detail-label {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    width: 40%;
    color: black;
    text-align: left;
    line-height: 28px;
}

.detail-value {
    font-family: "Bebas Neue", sans-serif;
    text-align: left;
    width: 45%;
    color: white;
    line-height: 28px;

}